{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Protected Resource{% endblock %}

{% block content %}

    <h1>Protected Resource</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form.errors }}
            <div class="form-group">
                {% render_field form.password|add_class:"form-control" placeholder=form.password.label %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </fieldset>
    </form>

{% endblock %}