{% extends "base.html" %}

{% block title %}Protected Resource Data{% endblock %}

{% block content %}

    <h1>Your Data is protected.</h1>
    <p>Copy link and password or click on it! This link is valid for next 24 hours</p>
    <h5>
        <a href="{% url 'protector-protected_resource' protected_url=object.protected_url %}">
            {{ object.full_protected_url }}
        </a>
    </h5>
    <div class="form-group">
      <fieldset>
        <label class="control-label" for="Passwordt">Password</label>
        <input class="form-control" type="text" readonly="" value="{{ object.password|safe }}">
      </fieldset>
    </div>

{% endblock %}